html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.contact-background {
    background-image: url('../../images/background.jpg');
    width: 100vh;
    height: 100vh;
    background-size: 100%;
}

header {
    text-align: right;
    margin-top: 2rem;
}

header h1 {
    font-size: 2rem; 
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    color: #ffffff; 
    
}

.content-form {
    text-align: left; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.content section {
    text-align: center;
    margin: 2rem;
}

.section-icon {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-left: 200px;
    padding: 150px;
}

.form .contact-form {
    text-align: center;
}

.form .contact-form input,
.form .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    outline: none;
    min-width: 300px; /* Minimum genişlik */
    max-width: 500px; /* Maksimum genişlik */
}

.form .contact-form textarea {
    height: 200px; /* Yüksekliği 200 piksel olarak ayarla */
}


.form .contact-form input:focus,
.form .contact-form textarea:focus {
    border-bottom: 2px solid dodgerblue;
}

.form .contact-form input::placeholder,
.form .contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form .contact-form button {
    padding: 0.5rem 1rem;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form .contact-form button:hover {
    background-color: #007bff;
}

.media {
    position: absolute;
    top: 90vh;
    right:37vh;
    display: flex;
    list-style: none;
}

.media ul {
    display: flex;
}

.media li {
    margin: 20px 30px;
    font-size: 24px; 
}
