.mt-8 {
    margin-top: 8rem !important;
}


/* Gutter'ı sıfırla */
.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;

  /* Responsive olması durumunda da sıfır yap */
  & > .col,
  & > [class*="col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.form-control.hover-success-border:hover {
  border-color: green;
}

.image-container-for-home-page {
    width: 26rem;
    height: 13rem;
    object-fit: cover;
}

.home-page-card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.home-page-card:hover {
  transform: scale(1.01);
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
  background-color: #f8f9fa;
}
